<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Language</th>
            <th>Picture</th>
          </tr>
        </thead>
        <tbody>
          <% @cards.each do |card| %>
            <tr>
              <td>
                <div class='mini-card'>
                  <div class='mini-words'>
                    <p><%=link_to card.word, card_path(card.id) %><p>
                  </div>
                </div>
              </td>
              <td><%= card.language %></td>
              <td><img src=<%= card.picture%> hight='80', width='80'></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-md-5 right-panel'>
      <img src="http://i.imgur.com/YkgiVPY.png" height='100' width='450'>
      <% if current_user.present? %>
        <h2 class='word'>Welcome, <%= current_user.username %></h2>
      <% end %>
      <div class='devise-login'>
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-default blah' %>  <%= link_to "Logout",destroy_user_session_path, class: 'btn btn-default blah',method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default blah' %> <%= link_to "Login", new_user_session_path, class: 'btn btn-default blah' %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class='devise-message'>
          Logged in as <%= current_user.username %>.
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Card', new_card_path %>
