<div class='container'>
  <div class='card'>
    <div class='word'>
      <h2><%= @card.word %></h2>
      <img src=<%= @card.picture %> height='70', width='70'>
    </div>
    <div class="def">
      <p><b><u>Definition:</u></b> <%= @card.definition %></p>
    </div>
    <div class='sentence well'>
      <p><b><u>Sentence:</u></b> <%= @card.sentences.first.content %></p>
    </div>
  </div>
  <div class='options'>
    <%= link_to 'Edit', edit_card_path(@card), class: 'btn btn-default' %>
    <%= link_to 'Back', cards_path, class: 'btn btn-default' %>
  </div>
</div>

